<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Satyr_03_Hurt_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{288,260}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Hurt_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,17}</string>
                <key>spriteSize</key>
                <string>{266,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{817,533},{266,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Hurt_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,18}</string>
                <key>spriteSize</key>
                <string>{250,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{817,281},{250,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Hurt_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,25}</string>
                <key>spriteSize</key>
                <string>{262,278}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{553,273},{262,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Hurt_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,28}</string>
                <key>spriteSize</key>
                <string>{280,284}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{263,1},{280,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Hurt_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,29}</string>
                <key>spriteSize</key>
                <string>{286,286}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,291},{286,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Hurt_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,28}</string>
                <key>spriteSize</key>
                <string>{276,284}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,579},{276,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Hurt_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,26}</string>
                <key>spriteSize</key>
                <string>{264,280}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{551,573},{264,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Hurt_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,24}</string>
                <key>spriteSize</key>
                <string>{262,276}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{287,579},{262,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Hurt_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,21}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{545,1},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Hurt_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,18}</string>
                <key>spriteSize</key>
                <string>{278,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{817,1},{278,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Hurt_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,17}</string>
                <key>spriteSize</key>
                <string>{284,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{289,287},{284,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_hurt.png</string>
            <key>size</key>
            <string>{1082,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a7aeebb349fba6591727fff2a5cb9cf:103b1e1a97b8f7ffa62685e32273d97c:73d84a7cf991ad2c7c35677dabf9808c$</string>
            <key>textureFileName</key>
            <string>enemy_hurt.png</string>
        </dict>
    </dict>
</plist>
