<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Satyr_03_Dying_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{288,260}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{531,253},{288,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Dying_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,19}</string>
                <key>spriteSize</key>
                <string>{278,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{277,515},{278,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Dying_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,23}</string>
                <key>spriteSize</key>
                <string>{270,266}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,761},{270,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Dying_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,29}</string>
                <key>spriteSize</key>
                <string>{260,274}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,499},{260,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Dying_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,24}</string>
                <key>spriteSize</key>
                <string>{250,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,245},{250,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Dying_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,23}</string>
                <key>spriteSize</key>
                <string>{250,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{267,247},{250,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Dying_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,22}</string>
                <key>spriteSize</key>
                <string>{250,258}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{589,1},{250,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Dying_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,23}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{273,779},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Dying_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,14}</string>
                <key>spriteSize</key>
                <string>{290,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{557,515},{290,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Dying_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,1}</string>
                <key>spriteSize</key>
                <string>{296,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Dying_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-29}</string>
                <key>spriteSize</key>
                <string>{288,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{299,1},{288,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Dying_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-40}</string>
                <key>spriteSize</key>
                <string>{272,284}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{541,781},{272,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Dying_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-40}</string>
                <key>spriteSize</key>
                <string>{272,284}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{541,781},{272,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Dying_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-40}</string>
                <key>spriteSize</key>
                <string>{272,284}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{541,781},{272,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_03_Dying_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-40}</string>
                <key>spriteSize</key>
                <string>{272,284}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{541,781},{272,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_die.png</string>
            <key>size</key>
            <string>{848,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8963b6c08dfe0ecccd8f1dcb2eeb0a9:dde0a4a233f892c1b8148e6b21f73c29:497a7b64aa12693ad27770cf4fd78932$</string>
            <key>textureFileName</key>
            <string>enemy_die.png</string>
        </dict>
    </dict>
</plist>
