<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Satyr_01_Attacking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,23}</string>
                <key>spriteSize</key>
                <string>{254,274}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1143},{254,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_01_Attacking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,24}</string>
                <key>spriteSize</key>
                <string>{210,276}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{297,1},{210,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_01_Attacking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,25}</string>
                <key>spriteSize</key>
                <string>{222,278}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1419},{222,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_01_Attacking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,26}</string>
                <key>spriteSize</key>
                <string>{230,280}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{257,1405},{230,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_01_Attacking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,26}</string>
                <key>spriteSize</key>
                <string>{232,280}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{275,1123},{232,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_01_Attacking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,26}</string>
                <key>spriteSize</key>
                <string>{234,280}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{277,559},{234,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_01_Attacking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,26}</string>
                <key>spriteSize</key>
                <string>{234,280}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{277,841},{234,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_01_Attacking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,25}</string>
                <key>spriteSize</key>
                <string>{206,278}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{297,279},{206,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_01_Attacking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,33}</string>
                <key>spriteSize</key>
                <string>{276,294}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_01_Attacking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,34}</string>
                <key>spriteSize</key>
                <string>{274,296}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,557},{274,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_01_Attacking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,33}</string>
                <key>spriteSize</key>
                <string>{276,294}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,279},{276,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Satyr_01_Attacking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,29}</string>
                <key>spriteSize</key>
                <string>{272,286}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,855},{272,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>satyr_attack.png</string>
            <key>size</key>
            <string>{512,1698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ca8e610a874c7e91b27f16ff65821c3:5f6f6ad39ca7a9b44d74f72f92478954:776bc5cc8d7f54695aeefcdb8689b52e$</string>
            <key>textureFileName</key>
            <string>satyr_attack.png</string>
        </dict>
    </dict>
</plist>
